
table{
	border-collapse: collapse;
	font-family: calibri;
	text-align: center;
	border: 1px solid #ddd;
	width: 97.5%;
	margin: 20px auto;
}


th{
	padding: 5px;
	border-collapse: collapse;
	background: #999999;
	font-weight: bold;
}

td{
	border-bottom: 1px solid #ddd;
	padding: 10px;
	border-collapse: collapse;
}

tr:hover{
	background: #f2f2f2;
	cursor: pointer;
	
}

